<!DOCTYPE html>
<html lang="en">

<head>



  <title>Hola</title>


  <style>
    html,
    body {
      overflow: hidden;
      margin: 0;
      width: 100%;
      height: 100%;

    }

 

    .timeControl {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 1rem;
      display: flex;


    }


    .timeControl>input {
      width: 80%;
    }
  </style>
</head>

<body>



  <img id="asteroid" src="sprites/asteroid.png" style="display:none" />

  <div class="timeControl">
    <input id="numbersInput" placeholder="E.g. 1223 3123 3145 1231" />
    <button onclick="lyrics.t = numbersInput.value.split(' ').filter((v,i,a)=>v!=='')">Go</button>

  </div>

  <canvas id="myCanvas"></canvas>
  
  <script src="scripts/Color.js" ></script>
  <script src="scripts/Debug.js" ></script>
  <script src="scripts/ILyrics.js" ></script>

  <script src="scripts/main.js" ></script>





</body>

</html>