<!DOCTYPE html>
<html lang="en">

<head>



  <title>Hola</title>


  <style>
    html,
    body {
      overflow: hidden;
      margin: 0;
      width: 100%;
      height: 100%;

    }

    .player {
      position: absolute;
      bottom: 1rem;
      width: 100%;

    }

    .timeControl {
      position: absolute;
      bottom: 0;
      padding: 1rem;


    }

    .timeControl>input {
      width: 50px;
    }
  </style>
</head>

<body>


  <!-- <audio class="player" controls>
    <source src="music/hello.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> -->

  <img id="asteroid" src="sprites/asteroid.png" style="display:none" />

  <div class="timeControl">
    <input id="travelTo" placeholder="1000" />
    <button onclick="travelTo( travelTo.value || 1000)">Go</button>

  </div>

  <canvas id="myCanvas"></canvas>
  
  <script src="scripts/Color.js" ></script>
  <script src="scripts/Debug.js" ></script>
  <script src="scripts/ILyrics.js" ></script>

  <script src="scripts/main.js" ></script>





</body>

</html>